// Muted Color Palette
$color-primary: #7f8c8d; // Primary color
$color-secondary: #95a5a6; // Secondary color
$color-bg: #f2f2f2; // Background color
$color-link: #333; // Link color
$color-dropdown-bg: #f9f9f9; // Dropdown background color

.navbar {
  background-color: $color-bg;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;

  .navbar-link {
    text-decoration: none;
    color: $color-link;
    margin-right: 10px;

    &-active {
      color: $color-primary;
    }
  }

  .navbar-links {
    display: flex;

    .navbar-link {
      margin-right: 10px;
    }
  }

  .navbar-dropdown {
    position: relative;
    display: inline-block;

    .navbar-dropdown-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .navbar-dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $color-dropdown-bg;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: $color-link;
        padding: 8px 12px;
        display: block;
        text-decoration: none;
      }
    }

    &:hover {
      .navbar-dropdown-content {
        display: block;
      }
    }
  }
}
