<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-link" routerLinkActive="navbar-link-active" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" routerLinkActive="navbar-link-active" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" routerLinkActive="navbar-link-active" [routerLink]="['/services']">Services</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" routerLinkActive="navbar-link-active" [routerLink]="['/contact']">Contact</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" routerLinkActive="navbar-link-active" [routerLink]="['/faq']">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

<nav class="navbar">
  <a routerLink="/" class="navbar-link">Home</a>
  <div class="navbar-links">
    <a
      routerLink="/input"
      class="navbar-link"
      routerLinkActive="navbar-link-active"
      >Form Produk</a
    >
    <a
      routerLink="/show"
      class="navbar-link"
      routerLinkActive="navbar-link-active"
      >Daftar Produk</a
    >
    <a
      routerLink="/json"
      class="navbar-link"
      routerLinkActive="navbar-link-active"
      >JSON Example</a
    >
  </div>
  <div class="navbar-dropdown">
    <button class="navbar-dropdown-btn">Account</button>
    <div class="navbar-dropdown-content">
      <a *ngIf="isLoggedIn()" routerLink="/login" class="navbar-dropdown-link">Logout</a>
      <a *ngIf="!isLoggedIn()" routerLink="/login" class="navbar-dropdown-link">Login</a>
      <a *ngIf="!isLoggedIn()" routerLink="/register" class="navbar-dropdown-link">Register</a>
    </div>
  </div>
</nav>
