<div class="container">
    <h1>Form Input Data Mahasiswa</h1>
    <form>
      <div class="form-group">
        <label for="nama">Nama:</label>
        <input type="text" class="form-control" id="nama" [(ngModel)]="datamhs.nama" name="nama" required>
      </div>
      <div class="form-group">
        <label for="nim">NIM:</label>
        <input type="text" class="form-control" id="nim" [(ngModel)]="datamhs.nim" name="nim" required>
      </div>
      <div class="form-group">
        <label for="alamat">Alamat:</label>
        <textarea class="form-control" id="alamat" [(ngModel)]="datamhs.alamat" name="alamat" required></textarea>
      </div>
      <div class="form-group">
        <label for="jenisKelamin">Jenis Kelamin:</label>
        <select class="form-control" id="jenisKelamin" [(ngModel)]="datamhs.jenisKelamin" name="jenisKelamin" required>
          <option value="Laki-laki">Laki-laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>
      </div>
      <div class="form-group">
        <label for="programStudi">Program Studi:</label>
        <input type="text" class="form-control" id="programStudi" [(ngModel)]="datamhs.programStudi" name="programStudi" required>
      </div>
      <div class="form-group">
        <label for="fakultas">Fakultas:</label>
        <input type="text" class="form-control" id="fakultas" [(ngModel)]="datamhs.fakultas" name="fakultas" required>
      </div>
      <button type="submit" class="btn btn-primary" (click)="simpanForm()">Simpan</button>
    </form>
  </div>
  